cachetools==3.0.0
Flask==1.1.0
paho-mqtt==1.4.0
pika==0.12.0
pyzmq==19.0.1
requests>=2.20.0
sdnotify==0.3.2
pymongo==3.7.2
uPnPClient==0.0.8
pylint==2.1.1
psycopg2==2.8.3
redis~=3.5.0
flask_cors==3.0.8
systemd-python==234
